@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*================================
      common css start
================================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

/*================================
      common css end
================================*/
/*================================
      header part start
================================*/
#header {
  padding: 10px 0;
  background: #0872b9;
}

#header .header_left p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#header .header_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header .header_right ul li a i {
  color: #fff;
  margin-left: 20px;
}

#header .header_right ul li a i:hover {
  color: #666;
}

/*================================
      header part end
================================*/
/*================================
      menu part start
================================*/
#menu {
  padding: 20px;
}

#menu .menu_left {
  width: 80px;
}

#menu .main_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#menu .main_menu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
}

#menu .main_menu ul li a:hover {
  color: #0872b9;
}

/*================================
      menu part end
================================*/
/*================================
      banner part start
================================*/
#banner {
  padding: 85px 0;
  z-index: 1;
  position: relative;
}

#banner .banner_text {
  text-align: right;
}

#banner .banner_text h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

#banner .banner_text h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

#banner .banner_text p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#banner .banner_text a {
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #fff;
  margin-left: 20px;
}

#banner .banner_text a:hover {
  background: #0872b9;
  border-color: #0872b9;
}

#banner::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.618);
  z-index: -1;
}

/*================================
      banner part end
================================*/
/*================================
      about part start
================================*/
#about {
  padding: 60px 0;
  text-align: center;
}

#about .common_head {
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
}

#about .common_head h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

#about .common_head img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#about .about_right > p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px !important;
}

#about .about_right > p span {
  display: block;
  margin-top: 40px;
}

/*================================
      about part end
================================*/
/*================================
      service part start
================================*/
#service {
  padding-bottom: 60px;
  text-align: center;
}

#service .common_head {
  margin-bottom: 65px;
  display: inline-block;
  position: relative;
}

#service .common_head h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

#service .common_head img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#service .servive_box {
  padding: 50px 20px 20px;
  background: #f1f1f1;
  position: relative;
}

#service .servive_box > h5 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}

#service .servive_box p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#service .servive_box .servicce_log {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f1f1f1;
  border: 4px solid #fff;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#service .servive_box .servicce_log::after {
  position: absolute;
  content: '';
  width: 74px;
  height: 74px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -6px;
  left: -6px;
}

#service .servive_box .servicce_log::before {
  position: absolute;
  content: '';
  width: 81px;
  height: 81px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -10px;
  left: -10px;
}

#service .servive_box:hover {
  -webkit-box-shadow: 0px 0px 7px 0px #888888;
          box-shadow: 0px 0px 7px 0px #888888;
}

#service .servive_box:hover .servicce_log {
  background: #5bc5f4;
}

#service .servive_box:hover .servicce_log::after {
  border-color: #5bc5f4;
}

/*================================
      service part end
================================*/
/*================================
      portfolio part start
================================*/
#portfolio {
  padding-bottom: 60px;
  text-align: center;
}

#portfolio .common_head {
  margin-bottom: 65px;
  display: inline-block;
  position: relative;
}

#portfolio .common_head h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

#portfolio .common_head img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#portfolio .port_item {
  position: relative;
  margin-bottom: 20px;
}

#portfolio .port_item:hover .overly {
  display: block;
}

#portfolio .port_item .overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

#portfolio .port_item .overly a i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #5bc5f4;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*================================
      portfolio part end
================================*/
/*================================
      team part start
================================*/
#team_part .common_head {
  margin-bottom: 65px;
  display: inline-block;
  position: relative;
}

#team_part .common_head h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

#team_part .common_head img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#team_part .team_item .team_picture {
  position: relative;
}

#team_part .team_item .team_picture:hover .overly {
  display: block;
}

#team_part .team_item .team_picture .overly {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

#team_part .team_item .team_picture .overly > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#team_part .team_item .team_picture .overly > ul > li a i {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 10px;
}

#team_part .team_item .team_picture .overly > ul > li a i:hover {
  background: #0872b9;
  border-color: #0872b9;
}

#team_part .team_item .team_text {
  margin-top: 10px;
}

#team_part .team_item .team_text h4 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

#team_part .team_item .team_text h4:hover {
  color: #5bc5f4;
}

#team_part .team_item .team_text p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

/*================================
      team part end
================================*/
/*================================
      testmonial part start
================================*/
#testimonial {
  padding: 60px 0;
}

#testimonial .testimonial_part .test_picture {
  width: 80px;
  margin: 0 auto;
}

#testimonial .testimonial_part .test_text {
  margin-top: 35px;
  background: #f1f1f1;
  padding: 20px;
  position: relative;
}

#testimonial .testimonial_part .test_text h4 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

#testimonial .testimonial_part .test_text ul li a i {
  color: #5bc5f4;
}

#testimonial .testimonial_part .test_text p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px !important;
}

#testimonial .testimonial_part .test_text .angel {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #f1f1f1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/*================================
      testmonial part end
================================*/
/*================================
      footer part start
================================*/
#footer {
  padding-top: 20px;
  background: #353535;
}

#footer .logo_part .logo {
  width: 80px;
}

#footer .logo_part .logo_text {
  margin-top: 40px;
}

#footer .logo_part .logo_text p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#footer .logo_part .logo_text p span {
  display: block;
  margin-top: 30px;
}

#footer .contact_part .contact_head h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin: 20px 0 40px 0 !important;
}

#footer .contact_part ul {
  margin-bottom: 20px !important;
}

#footer .contact_part ul li i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #5bc5f4;
  color: #fff;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 10px;
}

#footer .contact_part ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: block;
}

#footer .link_part .link_head h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin: 20px 0 40px 0 !important;
}

#footer .link_part .link_list ul {
  margin-right: 20px !important;
}

#footer .link_part .link_list ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px !important;
}

#footer .link_part .link_list ul li a:hover {
  color: #5bc5f4;
}

#footer .photo_part h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin: 20px 0 40px 0 !important;
}

#footer .photo_part ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .photo_part ul li {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

#footer .photo_part ul li:nth-child(3) {
  margin-right: 0 !important;
}

#footer .photo_part ul li:nth-child(6) {
  margin-right: 0 !important;
}

#footer .footer_end {
  padding: 20px 0;
  text-align: center;
  background: #5555;
}

#footer .footer_end p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

/*================================
      footer part end
================================*/
/*================================
      menu part start
================================*/
/*================================
      menu part end
================================*/
/*# sourceMappingURL=style.css.map */